body {
	text-align:center;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	font-family:Helvetica, Arial;
	background-color:#E0E0E0;
	overflow-y:hidden;
}

/* chart css */
#chartWrapper {
	background-color:white;
	width:100%;
	height:auto;
}

#chart {
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom:none;
	margin-left:auto;
	margin-right:auto;
}
/* end chart css */

/* top bar css */
.selectWrapper {
	background-color:lightslategray;
	width:100%;
	height:auto;
}

#selectors {
	text-align:left;
	background-color:lightslategray;
	width:1080px;
	height:40px;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.selectboxit-container {
	margin-top:-1px;
	margin-left:140px;
}

.selectboxit-container .selectboxit-options {
	width:141px;
}
/* end of top bar css */

/* table css */
#chart table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

#chart tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

#chart table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#chart table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

#chart tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

#chart tr:hover td{
	background-color:lightslategray;
}

#chart tr:nth-child(odd) { background-color:#aad4ff; }

#chart tr:nth-child(even) { background-color:#ffffff; }

#chart td{
	vertical-align:middle;	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

#chart tr:last-child td{
	border-width:0px 1px 0px 0px;
}

#chart tr td:last-child{
	border-width:0px 0px 1px 0px;
}

#chart tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

#chart tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

#chart tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
}

#chart tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

#chart tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/* End table css */

/* bottom bar css */
.ui-datepicker {
	background-color:#E0E0E0;
	opacity:0.9;
	width:250px;
	height:auto;
	font-size:12px;
}

#dateSelect {
	background-color:lightslategray;
	width:1078px;
	height:40px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
}

#startDate {
	float:left;
	margin-left:140px;
	margin-top:9px;
	width:169px;
	cursor:text;
}

#endDate {
	float:left;
	margin-left:140px;
	margin-top:9px;
	width:169px;
	cursor:text;
}
#submitDate {
	float:left;
	margin-left:144px;
	margin-top:8px;
	width:173px;
}
.ui-button-text-only .ui-button-text {
	padding-top:2px;
	padding-bottom:2px;
	color:black;
	font-family:Helvetica, Arial;
}
/* end of bottom bar css */